In [8]:
import pandas as pd

edades = {
    'Liz' : [36],
    'Cloee' : [30]
}

tabla_de_edades = pd.DataFrame(edades)

tabla_de_edades

   Liz  Cloee
0   36     30

In [9]:
tabla_de_edades['Liz']

0    36
Name: Liz, dtype: int64

In [11]:
list(tabla_de_edades.Liz)

[36]

In [12]:
tabla_de_edades.Cloee

0    30
Name: Cloee, dtype: int64